
<h1>{{jokeArray.[0]}}</h1>
<section class="container">
  <div id="cube">
    <div class="front"><br>{{jokeArray.[4]}}
    </div>
    <div class="back"><br><h4>{{jokeArray.[1]}}</h4>
    </div>
    <div class="right"><br><h4>{{jokeArray.[2]}}</h4>
    </div>
    <div class="left"><br>{{jokeArray.[3]}}
    </div>
    <div class="top"><br>UT
    </div>
    <div class="bottom"><br>BOOT CAMP
    </div>
  </div>
</section>
<hr>
<button class="show-front" >ReScrape</button>